<!doctype html>
<html ng-app="todoList">
<head>
  ...
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script src="js/todo.js"></script>
</head>
<body ng-controller="todoListCtrl">

  <ul>
    <li ng-repeat="todo in todos">
      {{todo.text}}
      <p>{{todo.date}}</p>
    </li>
  </ul>

</body>
</html>
